*, 
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ---------------------------Global styles--------------------------- */
:root{
    --color-cream: #EDDCD2;
}
/* -------------font-face Title------------- */
@font-face {
    font-family: 'blackpearlserif';
    src: url('../Portfolio/ressources/font/black-pearl/blackpearl-serif-webfont.woff2') format('woff2'),
         url('../Portfolio/ressources/font/black-pearl/blackpearl-serif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* -------------font-face Text------------- */
@font-face {
    font-family: 'caligna_demoregular';
    src: url('../Portfolio/ressources/font/caligna/calignademo-webfont.woff2') format('woff2'),
         url('../Portfolio/ressources/font/caligna/calignademo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: auto;
}

body{
    background: #010100;
}
a {
    text-decoration: none;
    color: var(--color-cream);
}

h1,
h2,
h3{
    font-family: 'blackpearlserif', sans-serif, arial;
    color: var(--color-cream);
}

p{
    font-family: 'caligna_demoregular', sans-serif, arial;
    color: aquamarine;
}

/* --------------- Vertical navigation---------------  */
.nav-left{
    width: 300px;
    height: 100vh;
    min-height: 800px;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 1px solid var(--color-cream);
    transition: all 0.3s ease-in-out;
    z-index: 5;
}  

.blocs-menu{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blocs-menu span{
    font-size: 3em;
    text-align: center;
    position: relative;
}

.blocs-menu span::after{
    content: '';
    display: block;
    width: 0px;
    height: 1px;
    margin:5px auto 0 auto;
    border-radius: 2px;
    background: var(--color-cream);
    transition: all 0.3s ease-in-out;
}

.blocs-menu span:hover::after{
    width: 100%;
}

/* --------Logo-------- */
.blocs-menu:nth-child(1){
    width: 100%;
    height: 25%;
}

.circle-logo{
    position: relative;
    width: 150px;
    height: 150px;
    margin:20px 0;
}

.circle-logo img{
    width: 250px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo-message{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
}

.logo-message img{
    width: 70px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hamburger menu */
@media screen and (max-width:1300px){

    .nav-left{
        left: -300px !important;
        width: 250px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
        }
    
    .blocs-menu:nth-child(1){
        display: none;
    }

    .blocs-menu:nth-child(7){
        display: none;
    }

    .menu-visible{
        left: 0px !important;
    }
    .btn-burger{
        width: 50px;
        height: 50px;
        border: 1px solid var(--color-cream);
        border-radius: 50%;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 10;
    }

    .cont-burger{
        width: 25px;
        height: 25px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .line-burger{
        width: 100%;
        height: 3px;
        border-radius: 4px;
        bottom: 10px;
        background: var(--color-cream);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .line-burger::before{
        content: '';
        width: 100%;
        height: 3px;
        border-radius: 4px;
        bottom: 10px;
        background: var(--color-cream);
        position: absolute;
    }

    .line-burger::after{
        content: '';
        width: 100%;
        height: 3px;
        border-radius: 4px;
        top: 10px;
        background: var(--color-cream);
        position: absolute;
    }

    .cont-burger.line-active .line-burger::after{
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms ease, transform 300ms 300ms ease;
    }

    .cont-burger.line-active .line-burger{
        background: transparent;
    }    
    
    .cont-burger.line-active .line-burger::before{
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms ease, transform 300ms 300ms ease;
    }
}